.imgProductos {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-top: 1rem;
}

.card {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    padding: 1rem;
}

.colorBoton {
    color: #fafafa;
    background-color: #85bb65;
}

.colorBoton:hover {
    
    background-color: green;
    color: #fafafa;
}